body {margin: 0}
.backcolor {
	background-color: #696969;
	width: auto;
	height: 46px;
	display: flex;
	align-items: center;
	}
.leftside {
	display: flex;
	flex-direction: row;
	justify-content: center;
}	
.imghtml {
	margin: 10px;
	position: relative;
	bottom: -3px;
}
.linkhtml {
	width: 80px;
	height: 80px;
}
.puzzle {
	border: solid transparent;
    height: 72px;
    width: 44px;
    justify-content: center;
    display: flex;
    background-color: #FFEFD5;
}
.S {
	border: solid transparent;
    height: 72px;
    width: 44px;
    justify-content: center;
    display: flex;
    background-color: #FFEFD5;
}
.insta {
	border: solid transparent;
    height: 72px;
    width: 44px;
    justify-content: center;
    display: flex;
    background-color: #FFEFD5;    
}
.calc {
	border: solid transparent;
    height: 72px;
    width: 44px;
    justify-content: center;
    display: flex;
    background-color: #FFEFD5;    
}
.imgpuzzle {
	height: 20px;
    width: 20px;
    position: absolute;
    bottom: 551px;
}
.imgS {
	height: 20px;
    width: 20px;
 	position: absolute;
    bottom: 551px;
}
.imgINSTA {
	height: 20px;
    width: 20px;
    position: absolute;
    bottom: 551px;	
}
.imgCALC {
	height: 20px;
    width: 20px;
    position: absolute;
    bottom: 551px;
}
.PuzzleP {
	font-size: 7pt;
    position: relative;
    bottom: -50px;
    font-weight: bold;
}
.SP {
	font-size: 7pt;
    position: relative;
    bottom: -50px;
    font-weight: bold;
}
.InstaP {
	font-size: 7pt;
    position: relative;
    bottom: -50px;
    font-weight: bold;
}
.CalcP {
	font-size: 7pt;
    position: relative;
    bottom: -50px;
    font-weight: bold;
}
.tchk {
	display: flex;
	justify-content: space-between;
}